.info{
  width: 247px;
  margin-top:0px;
  padding: 0px;

}
.content h1{
  font-weight: 700px;
  font-size:16px;
  margin-top: 0px;
  padding-top: 0px;
  line-height: 0px;

}
.content p{
  font-size: 10px;
  line-height: 20px;
}

