body {
  margin: 0;
  font-family: Inter,Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23252C;
  color: white;
  display: flex;
  height: 900px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


