.header{
  font-family: Karla;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(113,31,141,1) 35%, rgba(168,24,218,1) 100%);
  color: white;
  padding: 20px;

}
.header--name{
  letter-spacing: -2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10px;
  font-size: 22px;
  font-weight: 700;
}
.header--name img{

  height: 26px;
  margin-right: 7px;
}

.project--number{
 font-family: Inter;
font-weight: 400;
 font-size: 14px;
}

